[submodule "efficient-kan"]
	path = efficient-kan
	url = https://github.com/Blealtan/efficient-kan.git
[submodule "pykan"]
	path = pykan
	url = https://github.com/KindXiaoming/pykan.git
[submodule "FourierKAN"]
	path = FourierKAN
	url = https://github.com/GistNoesis/FourierKAN.git
[submodule "FusedFourierKAN"]
	path = FusedFourierKAN
	url = https://github.com/GistNoesis/FusedFourierKAN.git
[submodule "ChebyKAN"]
	path = ChebyKAN
	url = https://github.com/SynodicMonth/ChebyKAN.git
[submodule "fast-kan"]
	path = fast-kan
	url = https://github.com/ZiyaoLi/fast-kan.git
[submodule "faster_kan"]
	path = faster_kan
	url = https://github.com/AthanasiosDelis/faster-kan.git
[submodule "rbf_kan"]
	path = rbf_kan
	url = https://github.com/Sid2690/RBF-KAN.git
[submodule "wav_kan"]
	path = wav_kan
	url = https://github.com/zavareh1/Wav-KAN.git
[submodule "SineKAN"]
	path = SineKAN
	url = https://github.com/ereinha/SineKAN.git
[submodule "relu_kan"]
	path = relu_kan
	url = https://github.com/quiqi/relu_kan.git
